{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}

<header>
    <div id="headerAccueil">
        <div>

            <h1>Raffutage</h1>
            <p>
                Affuter et affiler vos couteau de cuisine a domicile !
            </p>
        </div>
        <div class="boutonGris">

            <a href="#">Prendre rendez-vous</a>
        </div>
    </div>
</header>

<main>

    <div>
        <h2>Information</h2>
    </div>
    <div class="ligneGrise"></div>
    <div id="infoAccueil">
        <div>b1</div>
        <div>b2</div>
        <div>b3</div>
        <div>b4</div>
    </div>


</main>

{% endblock %}
