{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}

<header>
    <div id="headerAccueil">
        <div>

            <h1>Raffutage</h1>
            <p>
                Affuter et affiler vos couteau de cuisine a domicile !
            </p>
        </div>
        <div class="bouton">

            <a href="#">Prendre rendez-vous</a>
        </div>
    </div>
</header>

{% endblock %}
