@page { 
    size: A4 portrait;
    margin: 10%;
    }
    .infoRdv table tr td:first-child{
        font-weight: bold;
        color: red;
    }
    .infoRdv table tr td:last-child{
        text-align: start;
    }