:root{
    --ombre: #52565A;
    --ombreClaire :#798086;
    --noir: #000000;
    --blanc: #ffffff;
}

*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /*border: 1px solid black;*/
}

html,
body{
    min-height: 100vh;
}
#grosWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#wrapper{
    margin:0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1{
    font-size: 5em;
}

h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}


.m-y{
    margin: 10px 0;
}
.p-y{
    padding: 50px 0;
}

.titre > h2 ,h3{
    text-align: center;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}
.centerText{
    text-align: center;
}

.centerDiv{
    margin: 0 auto;
    width: 80%;
}
#map { 
    height: 450px;
    width: 90%;
    margin-top: 20px;
}


/*
* *************************Message erreur
*/
.error{
    color: #b30000;
    background-color: #ff9999;
    border: 1px solid #b30000;
    padding: 30px;
    width: auto;
}
.error p{
    text-align: center;
}

/*
* ****************************Div success
*/

.success{
    color: #00cc44;
    background-color: #ccffdd;
    border: 1px solid #00cc44;
    padding: 30px;
    width: auto;
}
.success p{
    text-align: center;
}

/*
* **********************Logo raffutage
*/

.logo{
    width: 15%;
    display: flex;
    align-items: center;
}

.logo a{
    width: 100%;
}
.logo a img{
    width: 100%;
}

/*
* *****************Bouton supprimer
*/

.supp{

    padding: 5px 10px;
    background-color: #dc3545;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    border: none;
}
.supp:hover{
    background-color: #ff142c;
}

/*
* *************** Bouton gris
*/


.boutonGris{
    text-decoration: none;
    color: var(--blanc);
    padding: 10px 15px;
    background-color: var(--ombre);
    border: none;
    border-radius: 3px;
    
}

.boutonGris:hover{
    background-color: var(--ombreClaire);
    cursor: pointer;
}


/*
* *******************Ligne de séparation
*/
.ligneGrise{
    height: 1px;
    max-width: 350px;
    width: 80%;
    background-color: var(--ombre);
}

/*
* *********************Separation register login
*/

.sepaLoginReg{
    display: flex;
    align-items: center;
    margin-top: 2em;
}
.sepaLoginReg p{
    font-size: 1.5em;
}


.ligneGriseS{
    height: 1px;
    width: 150px;
    margin: 0 10px;
    background-color: var(--ombre);
}


/*
******************** Navbar
*/

#navigation{
    background-color: var(--ombre);
    
    width: 100%;
    box-sizing: content-box;


}

#navigation ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    white-space: nowrap; 

}
#navigation ul li{
    list-style: none;
    padding: 0 15px;
}
#navigation ul li a{
    text-decoration: none;
    color: var(--blanc);
    font-weight: bold;
}
#navigation ul li a:hover{
    border-bottom: 2px solid var(--blanc);
}



#navigation ul:last-child li a{
    text-decoration: none;
    color: var(--noir);
    font-weight: bold;
    border: 1px solid var(--noir);
    padding: 10px 15px;
    background-color: var(--blanc);
    
}

#navigation ul:last-child li a:hover{
    color: var(--blanc);
    border: 1px solid var(--blanc);
    background-color: var(--ombre);
}
.navContainer{
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    box-sizing: content-box;
    margin: 0 auto;
}

#btnBurger{
    display: none;
    width: 20%;
    height: 100%;
    text-align: center;
}

#btnBurger div{
    height: 100%;
}
#btnBurger p i{
    color: white;
    padding: 5px;
    font-size: 1.5em;
}

.hidden{
    display: none !important;
}


/*
********************** Footer
*/

footer{
    background-color: var(--ombre);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--blanc);
    height: 130px;
}

footer .logo{
    width: 15%;
}

#listFooter ul{
    display: flex;
    padding: 0;
}
#listFooter ul li{
    list-style-type: none;
    padding: 0 15px;
}
#listFooter ul li a{
    text-decoration: none;
    color: var(--blanc);
    font-weight: bold;
}
#listFooter ul li a:hover{
    border-bottom: 2px solid var(--blanc);
}

#copyright p{
    padding: 0 15px;
}

.footerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}


/*
* **********************Header accueil
*/

#headerAccueil{
    background-image: url('../image/couteau-accueil.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#headerAccueil p{
    margin-bottom: 25px;
}

/*
* ************************Main Accueil
*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
main h2{
    padding: 30px 0;
}

#infoAccueil{
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10%;
    width: 100%;
}
#infoAccueil div{
    width: 100%;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
#infoAccueil div p{
    margin-top: 10px;
}

.description p{
    text-align: center;
    width: 90%;
    margin: 30px auto;
}

/*
* ******************** Formulaire de login 
*/

.formLogin{
    text-align: center;
    margin-bottom: 30px;
    width: 100%;

}
.formLogin form{
    max-width: 800px;
    margin: 0 auto;
}
.formLogin form input{
    padding: 10px;
    width: 100%;
    margin: 20px 0;
}
/*
* ********************* Formulaire d'inscription
*/

.formRegister{
    width: 100%;
}

.formRegister div{
    width: 100%;
    display: flex;
    margin: 10px 0;
}
.inputReg{
    padding: 10px;
    margin: 0 20px;
    width: 100%;

}

.agreeTerms
.valider{
    width: 100%;
}
.agreeTerms div,
.valider div {
    margin: 0 auto;
    width: auto;
}

/*
* ************************** Page mon compte
*/
 table{
    margin: 0 auto;
    margin-bottom: 50px;
    border-collapse: collapse;
    width: 60%;
}
.containerCompte .tableinfo tr td:last-child {
    text-align: end;
}


.containerCompte td{
    border: 1px solid black;
    padding: 15px;
}

/*
* ************************** Page rendez-vous
*/

.formRdv{
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.rdv{
    width: 75%;
}
.type{
    width: 25%;
    padding-top: 100px;
}

#calendar{
    width: 100%;
    margin:auto;
}

#selection{
    margin-bottom: 20px;
}
.type ul{
    padding: 0;
}

.type ul li{
    list-style: none;
    text-align: center;
    margin: 20px 0;
}


/***********************************************************************************************
Debut responsive
************************************************************************************************/
@media screen and (max-width: 904px) {

    /*
    * ******************Navbar
    */
    #navigation .logo{
        margin: 0 auto;
    }

    .navContainer{
        flex-direction: column;
        padding-bottom: 20px;
    }

    #navigation ul{
        justify-content: center;
        margin: 10px 0 10px 0;
    }
    /*
    * *********************** page Prise de rendez-vous
    */

    .formRdv{
        flex-direction: column;
    }
    .rdv,
    .type{
        width: 100%;
        padding: 5px 20px;
    }
}
@media screen and (max-width: 768px) {
    
    footer .logo{
        width: 30%;
    }

}

@media screen and (max-width: 576px) {

    #navigation .logo{
        margin: 0;
        width: 100%;
        justify-content: space-between;
    }
    #navigation .logo div:first-child{
        width: 30%;
    }
    

    /*
    * ******************Navbar
    */

    .navContainer{
        flex-direction: column;
        padding-bottom:0 ;
    }

    .navContainer ul{
        flex-direction: column;
        justify-content: center;
        margin: 10px 0 5px 0;
    }
    #navigation ul li {
        padding: 5px;
    }
    .navContainer ul:last-child li{
        margin: 20px;
    }
    
    /*
    * ************************Main Accueil
    */
    h1{
        font-size: 3em;
    }



    #infoAccueil{

        grid-template-columns: 1fr;
        gap: 1%;

    }
    footer{
        
        height: 250px;
    }

    footer .logo{
        width: 40%;
    }

    .footerContainer{
        flex-direction: column;
        
    }
    #listFooter ul{
        flex-direction: column;
        text-align: center;
    }
    #listFooter ul li{
        padding: 10px 0;
    }
    #btnBurger{
        display: block;
    }
    

}