{% extends '@EasyAdmin/layout.html.twig' %}
{% block head %}
    
{% endblock %}


{% block content %}

<div class="calendarContainer">
    <div id="calendar">
    </div>
</div>
<input type="hidden" id="rdvJs" data-choice="{{ data }}"></input>
{% endblock %}



